<apex:page controller="PokemonListController">

    <apex:pageBlock title="Pokedex">

        <apex:pageBlockTable value="{!pokemon}" var="poke">

            <apex:column value="{!poke.name}"/>

            <apex:column value="{!poke.Nature__c}"/>

            <apex:column value="{!poke.Ability__c}"/>

            <apex:column value="{!poke.move1__c}"/>
            <apex:column value="{!poke.move2__c}"/>
            <apex:column value="{!poke.move3__c}"/>
            <apex:column value="{!poke.move4__c}"/>
            


        </apex:pageBlockTable>

    </apex:pageBlock>




</apex:page>